<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csi.sbs.sysadmin.business.dao.HolidayDao" >
  <resultMap id="BaseResultMap" type="com.csi.sbs.sysadmin.business.entity.HolidayEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CountryCode" property="countrycode" jdbcType="VARCHAR" />
    <result column="Day" property="day" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="findOne" resultType="com.csi.sbs.sysadmin.business.entity.HolidayEntity" parameterType="com.csi.sbs.sysadmin.business.entity.HolidayEntity" >
    select * from t_holiday
    where 1=1
    <if test="day != null" >
      and Day = #{day,jdbcType=VARCHAR}
    </if>
  </select>
  
  <select id="findMany" resultMap="BaseResultMap" parameterType="com.csi.sbs.sysadmin.business.entity.HolidayEntity" >
    select * from t_holiday
    where 1=1
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_holiday
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.csi.sbs.sysadmin.business.entity.HolidayEntity" >
    insert into t_holiday
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="countrycode != null" >
        CountryCode,
      </if>
      <if test="day != null" >
        Day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="countrycode != null" >
        #{countrycode,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.csi.sbs.sysadmin.business.entity.HolidayEntity" >
    update t_holiday
    <set >
      <if test="countrycode != null" >
        CountryCode = #{countrycode,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        Day = #{day,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>