<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csi.sbs.sysadmin.business.dao.UserDao" >
  <resultMap id="BaseResultMap" type="com.csi.sbs.sysadmin.business.entity.UserEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="UserID" property="userid" jdbcType="VARCHAR" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <select id="selectByUserID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from t_user
    where UserID = #{userid,jdbcType=VARCHAR}
  </select>
  
  <select id="findOne" resultType="com.csi.sbs.sysadmin.business.entity.UserEntity" parameterType="com.csi.sbs.sysadmin.business.entity.UserEntity" >
    select * from t_user
    where 1=1
    <if test="userid != null" >
       and UserID = #{userid,jdbcType=VARCHAR}
    </if>
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from t_user
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insert" parameterType="com.csi.sbs.sysadmin.business.entity.UserEntity" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="email != null" >
        Email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.csi.sbs.sysadmin.business.entity.UserEntity" >
    update t_user
    <set >
      <if test="userid != null" >
        UserID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>